


body {
  padding-top: 60px;

  background-image:"pics/data.jpg";
}




.header{
	}
	
li.pos{margin-left:20%}
.contain{
	background-color:white;
	margin-left:10%;
	margin-right:10%;
	}
.maintext{
	text-align:center;}
.subtext1{
	font-size:25px; 
	color:#B63F24;
	text-align: center;
	}
.maintext1{
	text-align:center;
	margin-top:3%;
	font-family: Arial, Helvetica, sans-serif;
	font-size:25px;}

p,ul,or{
	margin-left:10%;
	margin-right:10%;
	color:#474542;
	font-size:20px;
	line-height:1.6em;
	text-align:justify;
	}
	
label{
	text-align:center;
	}
.textinfo{
	font-size: 20px;}
	
h1{text-align:center;}

.container1{
	margin-top:0%;
	margin-left:1%;
	margin-right:1%;
	background-color: white;
	}



	

a:visited { 
    color: purple;
}


container-text{
    margin: 10%,10%;
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}
img{	margin-left:12%;
	width:70%;
	height:50%
	}

